# Following .gitignore file is based on template which can be found on:
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
.idea
target

# File-based project format
*.iws

# IntelliJ
*.iml
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
